<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}" dir="{{ .Language.LanguageDirection | default "ltr" }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" . }}
  <main class="site-main" data-pagefind-body>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ $js := resources.Get "js/minimal.js" | resources.Minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer></script>
  {{ partial "analytics.html" . }}
</body>
</html>
